<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- uncomment line below to link to styles.css in public folder -->
    <!-- <link rel="stylesheet" href="styles.css" /> -->
  </head>
  <body>
    <h4><a href="/profile1">Profile page 1</a></h4>
    <br />
    <h4><a href="/profile2">Profile page 2</a></h4>

    <script src="" async defer></script>
  </body>
</html>
